.btn {
    position: relative;
    display: block;
    text-transform: uppercase;
    color: #fff;
    transition: all 500ms ease;
    border: 3px solid #878a8a;
    z-index: 0;
    font-size:small;


}