#contenedor-formulario {
    position: absolute;
    top: 30%;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius: 5px;
    max-width: 500px;

}

#titulo-formulario {
    color: #3f3f3f;
}
